{% extends "AppCoder/padre.html" %}
{%load static %}
{% block titulo%}

ABOUT US

{%endblock%}

{%block descripcion%}
<p><center><h3> ¡Hola! Somos Paula y Cielo<br></h3>
    Estamos felices de haber podido realizar este proyecto juntas, ambas somos de profesión Bioingenieras y nos apasiona la programación.
    <br>
    Esperamos que esté al alcance de los objetivos y ansiamos la devolución de las correcciones.
    <br>
    Quedamos a disposición. Muchas gracias.
    <br> <br>
    <b>El proyecto busca ser de utilidad para centros de manicuría y servicios de estética integral. </b>
</p></center>
{%endblock%}