<!-- Hereda del template padre-->
{% extends "AppCoder/padre.html" %}
{% load static %} 

{% block titulo %}
Sitio para mostrar los productos y marca<br>

{% endblock %}
{% block descripcion %}

<h5><center> Se muestran los productos disponibles</h5></center><br><br>
{% for produc in products%}
<ul>
    <li>Producto: {{produc.nombre}}</li>
    <li>Marca: {{produc.marca}}</li>
    <button>
            <a href="{% url 'editarProduc' produc.nombre %}"> <ul><li>Editar</a> </li></ul>
            </button>
    <button>
                <a href="{% url 'borrarProductos' produc.nombre %}"> <ul><li>Borrar</a> </li></ul>
                </button>
</ul>
{%endfor%}

<a href="{% url 'Formulario Productos'%}"> <ul><li>Carga de stock</a> </li></ul>
{%endblock%}